@import "colors";

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $card-background-color;
  width: 100%;
  min-width: 440px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(170, 170, 170);

  a {
    text-align: center;
    padding: 16px 30px;
    transition: all 0.3s ease;
    color: $main-font-color;
    font-size: 16px;

    &:hover {
      cursor: pointer;
      filter: brightness(75%);
    }
  }

  i:hover {
    filter: blur(1px);
  }

  .active {
    background-color: $active-color;
  }
}
