.profile {
  padding: 5px 20px;

  fieldset {
    min-width: 400px;
    margin: 20px 0px;
    border: 1px solid $light-border-color;
    border-radius: 10px;
    background-color: $card-background-color;
  }

  input {
    outline: none;
    border: 1px solid $light-border-color;
  }

  textarea {
    resize: vertical;
    max-width: 390px;
    border: 1px solid $light-border-color;
    border-radius: 5px;
  }
  
  .tallFieldSet {
    height: 200px;
  }

  .bigInput {
    height: 100px; 
    width: 500px;
  }

  input {
    border-radius: 10px;
  }

  button {
    margin: 0 auto;
    display: block;
    height: 30px;
    width: 100px; 
    border-radius: 5px;
    outline: none;
    border: 1px solid $light-border-color;
    background-color: $accept-color;
    color: $light-border-color;

    &:hover {
      cursor: pointer;
      filter: brightness(75%);
    }
  }

}
