.profile-card-container {
    display: flex;
    flex-direction: row;
    border: 1px solid $light-border-color;
    background-color: $card-background-color;
    box-shadow: 0px 0px 10px rgb(170, 170, 170);
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    max-height: 200px;
    overflow: hidden;
  }
  .profile-card-pic {
    --imageSize: 100px;
    width: var(--imageSize);
    height: var(--imageSize);
  }
  .profile-card-copy {
    margin-left: 10px;
  }
  
  h3 {
    margin-top: 0;
  }
  p {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  